<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َAnimated Login Form</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

<form class="login-box" action="index.html" method="post">
  <h1>Login</h1>
  <input type="text" name="" placeholder="Username" required="true" />
  <input type="password" name="" placeholder="Password" required="true" />
  <input type="submit" name="" value="Login" />
</form>


  </body>
</html>
